@import "smart-grid.less";

.reset();

body {
  font-family: Roboto, sans-serif;
}

.wrapper {
  .wrapper();
}

.debug {
  .debug(rgba(0, 0, 0, 0.5), 1px solid #ff0);
}
@color_black: #000000;
@color_apple-green: #7ed321;
@color_white-three: #fafafa;
@color_charcoal-grey: #4a4a4a;
@color_white-four: #f2f2f2;
@color_white: #ffffff;
@font_36: 36px;
@font_34: 34px;
@font_30: 30px;
@font_28: 28px;
@font_26: 26px;
@font_24: 24px;
@font_22: 22px;
@font_20: 20px;
@font_18: 18px;
@font_16: 16px;
@font_15: 15px;
@font_14: 14px;
@font_13: 13px;
@font_12: 12px;
@font_11: 11px;
@font_10: 10px;

h1,
.h1 {
  font-size: @font_36;
  text-align: center;
}
h2,
.h2 {
  font-size: @font_24;
  text-align: center;
}
h3,
.h3 {
  font-size: @font_22;
  text-align: center;
}
h4,
.h4 {
  font-size: @font_16;
  text-align: center;
}
h5,
.h5 {
  font-size: @font_15;
  text-align: center;
}
h6,
.h6 {
  font-size: @font_14;
  text-align: center;
}
img {
  max-width: 100%;
  height: 100%;
  width: 100%;
}
.pink {
  border: 1px solid blueviolet !important;
  box-shadow: 0 0 0 5px blueviolet;
}

.main {
  max-width: 100%;
  .header {
    height: 50px;
    background: rgb(213, 210, 210);
    display: flex;
    align-items: center;
    position: relative;
    .title {
      display: flex;
      align-items: center;
      .m-block({margin-right: 20%;});
      .xs-block({margin-right: 15%;});
      .xxs-block({margin-right: 10%;});
      .mini-block({margin-right: unset;});
      .span {
        border: 1px solid blueviolet;
        background: blueviolet;
        width: 30px;
        height: 30px;
        border-radius: 25px;
        margin: 0 10px 0 20px;
      }
    }
    .info {
      display: flex;
      position: absolute;
      left: 39%;
      .m-block({position: unset; align-items: center;});
      .mini-block({display: none;});
      cursor: pointer;
      .h4_first {
        margin-right: 50px;
      }
    }
    .h4 {
      .s-block({font-size: @font_14;});
      .xs-block({font-size: @font_12;});
      .xxs-block({font-size: @font_10;});
    }
    .details_menu {
      display: none;
      position: relative;
      margin: 0 5% 0 auto;
      .mini-block({display: block;});
      .parent {
        display: flex;
        position: absolute;
        right: 0;
        top: -5px;
        right: 40px;
        .h4 {
          border-radius: 20px;
          border: 1px solid #cecece;
          background-color: #f6f6f6;
          padding: 4px 10px 4px 10px;
          white-space: nowrap;
          text-align: end;
          cursor: pointer;
        }
      }
    }
    details summary::-webkit-details-marker {
      display: none;
      transition: height 3s ease-in;
      outline: 0;
      outline-offset: 0;
      &:active,
      :hover,
      :focus {
        outline: 0;
        outline-offset: 0;
      }
    }

    details[open] summary ~ * {
      animation: sweep 0.5s ease-in-out;
    }

    summary {
      outline: none;
      cursor: pointer;
      .h5 {
        .xxs-block({font-size: @font_10;});
      }
    }

    @keyframes sweep {
      0% {
        opacity: 0;
        margin-left: -100%;
      }
      100% {
        opacity: 1;
        margin-left: 0%;
      }
    }
  }
  .search {
    display: flex;
    padding: 40px 0;
    .xxs-block({flex-wrap: wrap;padding: 15px 0;});
    select {
      display: block;
      border-radius: 20px;
      border: 1px solid #cecece;
      background-color: #f6f6f6;
      padding: 4px 15px 4px 10px;
      color: #444;
      background-position: 290px -145px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      .s-block({font-size: @font_14;});
      .mini-block({order: 2;});
      &:nth-child(2) {
        margin: 0 30px 0 20px;
        .s-block({margin: 0 5% 0 3%;});
      }
      &:focus {
        outline: none;
      }
    }
    .d3 {
      .m-block({width: 40%;});
      .s-block({width: 30%;});
      .xxs-block({order: 1;width: 73%;margin-bottom: 5%;});
    }
    .d3 form {
      border: 1px solid rgb(195, 183, 183);
    }
    .d3 input,
    .d3 button {
      border: none;
      outline: none;
      background: transparent;
    }
    .d3 input {
      width: 100%;
      height: 42px;
      padding-left: 40px;
    }
    .d3 button {
      height: 42px;
      width: 42px;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
    }
    .d3 button:before {
      content: "\f002";
      font-family: FontAwesome;
      font-size: 16px;
      color: #f9f0da;
    }
    form {
      position: relative;
      width: 500px;
      margin: 0 auto;
      .m-block({width: auto ;});
      .s-block({font-size: @font_14;});
    }
  }
  .items {
    .item {
      border: 1px solid rgb(171, 171, 171);
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
      position: relative;
      .item_name {
        display: flex;
        height: 90px;
        align-items: center;
        width: 100%;
        border-bottom: 0.5px solid rgb(171, 171, 171);
        img {
          width: 50px;
          height: 50px;
          margin: 10px 20px;
          background: black;
          color: white;
        }
        .h3 {
          width: 80%;
          text-align: left;
          .s-block({font-size: @font_18;});
          .xs-block({font-size: @font_16;});
          .xxs-block({font-size: @font_14;});
        }
      }
      .item_category {
        margin: 10px;
        border-right: 1px solid rgb(171, 171, 171);
        padding-right: 70px;
        .s-block({padding-right: 30px;});
        .mini-block({padding-right: unset;width: 100%; border-right: unset;});
        .h5 {
          text-align: left;
          .s-block({font-size: @font_14;});
          .xs-block({font-size: @font_13;});
          .xxs-block({font-size: @font_11;});
          .span {
            color: grey;
          }
        }
      }
      .item_sub_name {
        display: flex;
        align-items: center;
        .mini-block({margin:0 0 10px 10px;});
        img {
          width: 30px;
          height: 30px;
          background: blueviolet;
          border-radius: 30px;
        }
        .h4 {
          text-align: left;
          margin-left: 15px;
          .s-block({font-size: @font_14;});
          .xs-block({font-size: @font_13;});
          .xxs-block({font-size: @font_11;});
        }
      }
      .item_button {
        display: flex;
        position: absolute;
        right: 10px;
        bottom: 12px;
        opacity: 0;
        .h4 {
          padding: 5px 15px;
          margin: 0 10px;
          color: blueviolet;
          cursor: pointer;
          .s-block({font-size: @font_14;});
          &:first-child {
            .xs-block({display: none;});
          }
          &:last-child {
            background: blueviolet;
            border-radius: 5px;
            color: white;
          }
        }
      }
    }
    .pink {
      .item_button {
        opacity: 1 !important;
      }
    }
  }
}

// .debug(@background, @outline) {
//   height: 100vh;
//   position: fixed;
//   width: 100%;
//   > div {
//     height: inherit;
//     .wrapper();
//     > div {
//       height: inherit;
//       .row-flex();
//       > div {
//         .col();
//         .size(1);
//         height: inherit;
//         outline: @outline;
//         background: @background;
//       }
//     }
//   }
// }
