@import "project.less";
@import "smart-grid.less";

.reset();

.body {
  font-family: HelveticaNeue, sans-serif;
  // font-family: Roboto, sans-serif;
  font-family: HelveticaNeue;
  // font-family: "Gotham Pro" sans-serif;
}
* {
  box-sizing: border-box;
}

.wrapper {
  .wrapper();
}

.debug {
  .debug(rgba(0, 0, 0, 0.5), 1px solid #ff0);
}

h1,
.h1 {
  font-size: @font_36;
  text-align: center;
  margin: 30px 0;
}

h2,
.h2 {
  font-size: @font_34;
  text-align: center;
  margin: 24px 0;
}

h3,
.h3 {
  font-size: @font_28;
  text-align: center;
  margin: 18px 0;
}

h4,
.h4 {
  font-size: @font_20;
  text-align: center;
  margin: 10px 0;
}

h5,
.h5 {
  font-size: @font_18;
  text-align: center;
  margin: 8px 0;
}

h6,
.h6 {
  font-size: @font_16;
  text-align: center;
  margin: 6px 0;
}
@font-face {
  font-family: HelveticaNeue-Thin;
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot");
  src: local("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin"),
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.ttf")
      format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeue;
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot");
  src: local("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light"),
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "AB";
  src: url("../fonts/Akrobat-Black/Akrobat-Black.eot");
  src: url("../fonts/Akrobat-Black/Akrobat-Black.eot?iefix") format("eot"),
    url("../fonts/Akrobat-Black/Akrobat-Black.woff") format("woff"),
    url("../fonts/Akrobat-Black/Akrobat-Black.ttf") format("truetype"),
    url("../fonts/Akrobat-Black/Akrobat-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ABEL";
  src: url("../fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.eot");
  src: url("../fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.eot?iefix")
      format("eot"),
    url("../fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.woff") format("woff"),
    url("../fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.ttf") format("truetype"),
    url("../fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AR";
  src: url("../fonts/Akrobat-Regular/Akrobat-Regular.eot");
  src: url("../fonts/Akrobat-Regular/Akrobat-Regular.eot?iefix") format("eot"),
    url("../fonts/Akrobat-Regular/Akrobat-Regular.woff") format("woff"),
    url("../fonts/Akrobat-Regular/Akrobat-Regular.ttf") format("truetype"),
    url("../fonts/Akrobat-Regular/Akrobat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

header {
  padding: 25px 0 21px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    font-family: HelveticaNeue, sans-serif;
    .ttt-block({flex-direction: column;});
    .logo {
      display: flex;
      align-items: center;
      .ttt-block({transition: 0.2s ease-in-out; padding-right: 35px;});
      .xs-block({padding-right: 0;});
      .logo_a {
        font-size: 36px;
        color: black;
        &:hover {
          text-decoration: none;
        }
        .logo_clr {
          color: #a06839;
        }
      }
      .logo_text {
        width: 182px;
        font-size: 16px;
        margin-left: 29px;
        border-left: 1px solid;
        padding-left: 9px;
        .xs-block({margin-left: 10px;});
      }
    }
    .header_info {
      display: flex;
      font-size: 20px;
      align-items: center;
      .ttt-block(
        {flex-wrap: wrap; transition: 0.2s ease-in-out; margin-top: 15px; line-height:
          1.5;}
      );
      .work_clock,
      .work_addres {
        margin-right: 55px;
        .xs-block({margin-right: 0;});
      }
      .work_number {
        .number_a {
          color: black;
          text-decoration: underline;
        }
      }
    }
  }
}
.clear_info {
  width: 100%;
  background: url("/img/bg.jpg") no-repeat;
  background-size: cover;
  font-family: HelveticaNeue, sans-serif;
  .wrapper {
    padding: 155px 30px 89px 30px;
    .clear_list {
      color: white;
      font-size: 26px;
      .erm-block({font-size: 20px; transition: 0.2s ease-in-out;});
      .clear_li {
        margin-bottom: 29px;
        list-style: disc;
      }
    }
  }
}
.achiev {
  font-family: HelveticaNeue, sans-serif;
  padding: 19px 0 32px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #a06839;
    .erm-block(
      {flex-wrap: wrap; transition: 0.2s ease-in-out; justify-content: center;}
    );
    .achiev_9 {
      display: flex;
      flex-direction: column;
      align-items: center;
      .erm-block({padding: 5px 5px; transition: 0.2s ease-in-out;});
      .icon {
        width: 26px;
        height: 32px;
      }
    }
  }
}
.about_title {
  font-size: 23px;
  color: black;
  text-align: center;
  .sm-block({font-size: 18px; transition: 0.2s ease-in-out;});
  .about_border {
    display: flex;
    justify-content: center;
  }
}
.about_title2 {
  font-size: 26px;
  color: #a06839;
  text-align: center;
  .sm-block({font-size: 20px; transition: 0.2s ease-in-out;});
}
.about_company {
  font-family: HelveticaNeue, sans-serif;
  width: 100%;
  background: url("/img/bg2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 0 138px;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .about_title {
      font-size: 23px;
      color: black;
      text-align: center;
      .sm-block({font-size: 18px; transition: 0.2s ease-in-out;});
      .about_border {
        display: flex;
        justify-content: center;
      }
    }
    .about_title2 {
      font-size: 26px;
      color: #a06839;
      text-align: center;
      .sm-block({font-size: 20px; transition: 0.2s ease-in-out;});
    }
    .about_photo {
      display: flex;
      padding: 33px 0 44px;
      .sm-block(
        {flex-wrap: wrap; justify-content: center; transition: 0.2s ease-in-out;}
      );
      .photo {
        margin-left: 22px;
        transition: 0.5s;
        &:hover{
          img{
            transform: scale(1.2);
            transition: 0.5s;

          }
        }
        .sm-block({margin-left: 0;});
        &:first-child {
          margin-left: 0;
        }
      }
    }
    .about_text {
      width: 65.9498207885304659%;
      font-size: 16px;
      text-align: center;
    }
    .types_works {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 84px;
      .types_photo {
        display: flex;
        padding-top: 55px;
        .sm-block(
          {flex-wrap: wrap; justify-content: center; transition: 0.2s ease-in-out;}
        );
        .tps_photo {
          position: relative;
          .tps_pht {
            background: #a06839;
            padding: 20px;
            display: flex;
            justify-content: center;
            font-size: 26px;
            color: white;
            height: 60px;
            margin-top: -4px;
            .erm-block({font-size: 20px; transition: 0.2s ease-in-out;});
          }
          .tps_info{
            font-family: HelveticaNeue;
            font-size: 16px;
            font-weight: 100;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            position: absolute;
            top: 0;
            background-color: #000000;
            bottom: 60px;
            padding: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            /* margin: auto 0; */
            opacity: 0;
          }
          &:hover{
            .tps_info{
              opacity: 0.8;
            }
          }
        }
        .tps {
          margin: 0 41px;
          .sm-block({margin: 0; transition: 0.2s ease-in-out;});
        }
      }
    }
  }
}
.price {
  background: url("/img/photo5.jpg") no-repeat;
  background-size: cover;
  padding-bottom: 69px;
  font-family: HelveticaNeue;
}
.price .price_main {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.price .price_main .stock {
  width: 74.5519713261648746%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px #000000;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 33px 19px 60px;
  margin-top: -93px;
}
.price .price_main .stock_img {
  width: 40%;
  margin-right: 10%;
}
.price .price_main .stock_info {
  width: 50%;
  padding-top: 15px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.price .price_main .stock_text {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.price .price_main .stock .types_title2 {
  width: 100%;
  display: block;
  margin-bottom: 0;
  text-align: left;
}
.price .price_main .stock_call {
  height: 25px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-family: HelveticaNeue-Thin;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #a06839;
  border-radius: 25px;
  border: solid 1px #000000;
  padding: 4px 17px 3px 18px;
}
.price .price_main .types_title,
.price .price_main .types_title2 {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
.price .price_main .types_title {
  color: white;
  font-size: 20px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-top: 61px;
}
.price .price_main .types_title2 {
  margin-bottom: 54px;
}
.price_items {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}
.price_item {
  width: 47.1326164874551972%;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 15px 18px 32px 21px;
  margin-bottom: 61px;
}
.price_item:nth-child(2n + 1) {
  margin-right: 5.7347670250896057%;
}
.price_item .item {
  width: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.price_item .item_bottom .item_info {
  flex-basis: 100%;
}
.price_item .item_title {
  font-size: 26px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a06839;
  width: 100%;
  margin-bottom: 10px;
}
.price_item .item_title i {
  font-style: normal;
  font-size: 20px;
}
.price_item .item_title_2 {
  font-family: HelveticaNeue-Thin;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}
.price_item .item_info {
  width: 43%;
  flex-basis: 288px;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.price_item .item_border {
  height: 3px;
  border: solid 1px #000000;
  margin: 12px 0 14px;
}
.price_item .item_row {
  margin-top: 10px;
}
.price_item .item_price {
  font-size: 26px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a06839;
  margin-right: 10px;
}
.price .table {
  width: 80%;
  margin: 0 auto;
}
.price .table_title {
  font-family: HelveticaNeue;
  font-size: 26px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}
.price .table_title i {
  color: #a06839;
}
.price .table_info {
  width: 100%;
  font-size: 26px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a06839;
  padding: 5px 60px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 3px;
}
.price .table_li {
  width: 100%;
  min-height: 40px;
  font-family: HelveticaNeue-Thin;
  font-size: 20px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  padding: 6px 60px 4px;
  color: #d8d8d8a3;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.price .table_li:nth-child(odd) {
  border: solid 3px #ffffff4a;
  border-left: 0;
  border-right: 0;
}
.price .table_li:last-child {
  border-bottom: 0;
}
.price .table_text {
  font-family: HelveticaNeue-Thin;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #d8d8d8a3;
}
.we_inst {
  width: 100%;
  font-family: HelveticaNeue;
  padding: 60px 0;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .inst_photo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 30px;
      .sm-block({flex-direction: column; padding: 25px;});
      .inst_img {
        margin: 0 30px;
        .sm-block({margin: 30px 0;});
      }
      .inst_pht {
        width: 30%;
        .sm-block({width: 100%;});
      }
    }
  }
}
.maps {
  width: 100%;
  font-family: HelveticaNeue;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .map {
    width: 100%;
    padding-top: 33px;
    height: 583px;
    .map_him {
      width: 100%;
      height: 100%;
    }
  }
}
.footer {
  background-color: #0c0b0e;
  padding: 40px 0 60px;
  color: #ffffff;
  font-family: HelveticaNeue, sans-serif;
  .wrapper {
    display: flex;
    align-items: center;
    .logo {
      display: flex;
      align-items: center;
      .logo_a {
        font-size: 36px;
        color: white;
        font-family: HelveticaNeue;
        font-size: 36px;
        font-weight: 100;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        &:hover {
          text-decoration: none;
        }
        .logo_clr {
          color: #a06839;
        }
      }
      .logo_text {
        width: 182px;
        font-size: 16px;
        margin-left: 29px;
        border-left: 1px solid;
        padding-left: 9px;
      }
    }
    .header_info {
      display: flex;
      font-size: 20px;
      align-items: center;
      height: 18px;
      font-family: HelveticaNeue;
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      flex-grow: 1;
      justify-content: flex-end;
      .work_addres {
        margin: 0 30px;
      }
      .work_number {
        .number_a {
          color: #ffffff;
          text-decoration: underline;
        }
      }
    }
    .mib {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 30px;
      .mib_a {
        color: white;
        text-align: center;
        .mib_title {
          width: 50%;
        }
        .mib_text {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  .ttt-block({
    .header_info{
      flex-wrap: wrap;
      height: unset !important;
      justify-content: center;
      padding-left: 2%;
    }
    .work {
      width: 100%;
      margin: 0 !important; 
    }

  });
  .am-block({
    .wrapper {
      flex-wrap: wrap;
    }
    .header_info{
      padding-left: 0;
    }
    .logo{
      width: 100%;
      justify-content: center;
      margin-bottom: 15px;
    }
    .header_info{
      width: 100%;
      justify-content: space-around !important;
      div{
        width: unset;
      }
    }
    .mib{
      margin: 10px auto 0 !important;
    }
  });
  .de-block({
    .header_info{
      div{
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  });
  .ss-block({
    .logo_a{
      font-size: 22px !important;
    }
    .logo_text{
      font-size:14px !important;
    }
  })
}
@media screen and (max-width: 1024px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
  .price .price_main .stock .stock_text {
    margin: 10px 0;
  }
  .price .price_main .stock .stock_img {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }
  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }
  .price .price_main .stock {
    padding: 20px;
  }
  .price .price_main .stock img {
    width: 100%;
  }
  .price .price_main .stock .stock_info {
    width: 100%;
  }
  .price .price_main .stock .stock_img {
    width: 100%;
    margin: 0;
  }
  .price_item {
    width: 100%;
    margin-right: 0 !important;
  }
  .price .item_title {
    font-size: 20px;
  }
  .price .table_info {
    text-align: center;
  }
  .price .table_li {
    font-size: 16px;
  }
  .price .table_li .table_span:first-child {
    width: 80%;
  }
  .price .table_li .table_span:last-child {
    white-space: nowrap;
  }
}
@media screen and (max-width: 536px) {
  .price .price_main .types_title2 {
    font-size: 20px;
  }
  .price .table {
    width: 100%;
  }
  .price .item_title {
    font-size: 20px;
  }
  .price .table_info {
    text-align: center;
  }
  .price .table_li {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }
  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }
  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }
  .price .price_main .stock {
    width: 100%;
  }
  .price .price_main .stock .stock_info {
    width: 100%;
  }
  .price .price_main .stock .stock_img {
    width: 100%;
    margin: 0;
  }
}
