body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.body {
  font-family: HelveticaNeue, sans-serif;
  font-family: HelveticaNeue;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1440px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.debug {
  height: 100vh;
  position: fixed;
  width: 100%;
}

.debug > div {
  height: inherit;
  max-width: 1440px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.debug > div > div {
  height: inherit;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.debug > div > div > div {
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
  width: calc(8.333333333333334% - 20px);
  height: inherit;
  outline: 1px solid #ff0;
  background: rgba(0, 0, 0, 0.5);
}

h1,
.h1 {
  font-size: 36px;
  text-align: center;
  margin: 30px 0;
}

h2,
.h2 {
  font-size: 34px;
  text-align: center;
  margin: 24px 0;
}

h3,
.h3 {
  font-size: 28px;
  text-align: center;
  margin: 18px 0;
}

h4,
.h4 {
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}

h5,
.h5 {
  font-size: 18px;
  text-align: center;
  margin: 8px 0;
}

h6,
.h6 {
  font-size: 16px;
  text-align: center;
  margin: 6px 0;
}

@font-face {
  font-family: HelveticaNeue-Thin;
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot");
  src: local("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeue;
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot");
  src: local("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "AB";
  src: url("../fonts/Akrobat-Black/Akrobat-Black.eot");
  src: url("../fonts/Akrobat-Black/Akrobat-Black.eot?iefix") format("eot"), url("../fonts/Akrobat-Black/Akrobat-Black.woff") format("woff"), url("../fonts/Akrobat-Black/Akrobat-Black.ttf") format("truetype"), url("../fonts/Akrobat-Black/Akrobat-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ABEL";
  src: url("../fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.eot");
  src: url("../fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.eot?iefix") format("eot"), url("../fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.woff") format("woff"), url("../fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.ttf") format("truetype"), url("../fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AR";
  src: url("../fonts/Akrobat-Regular/Akrobat-Regular.eot");
  src: url("../fonts/Akrobat-Regular/Akrobat-Regular.eot?iefix") format("eot"), url("../fonts/Akrobat-Regular/Akrobat-Regular.woff") format("woff"), url("../fonts/Akrobat-Regular/Akrobat-Regular.ttf") format("truetype"), url("../fonts/Akrobat-Regular/Akrobat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

header {
  padding: 25px 0 21px;
}

header .wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-family: HelveticaNeue, sans-serif;
}

header .wrapper .logo {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

header .wrapper .logo .logo_a {
  font-size: 36px;
  color: black;
}

header .wrapper .logo .logo_a:hover {
  text-decoration: none;
}

header .wrapper .logo .logo_a .logo_clr {
  color: #a06839;
}

header .wrapper .logo .logo_text {
  width: 182px;
  font-size: 16px;
  margin-left: 29px;
  border-left: 1px solid;
  padding-left: 9px;
}

header .wrapper .header_info {
  display: -webkit-box;
  display: flex;
  font-size: 20px;
  -webkit-box-align: center;
  align-items: center;
}

header .wrapper .header_info .work_clock,
header .wrapper .header_info .work_addres {
  margin-right: 55px;
}

header .wrapper .header_info .work_number .number_a {
  color: black;
  text-decoration: underline;
}

.clear_info {
  width: 100%;
  background: url("/img/bg.jpg") no-repeat;
  background-size: cover;
  font-family: HelveticaNeue, sans-serif;
}

.clear_info .wrapper {
  padding: 155px 30px 30px 89px;
}

.clear_info .wrapper .clear_list {
  color: white;
  font-size: 26px;
}

.clear_info .wrapper .clear_list .clear_li {
  margin-bottom: 29px;
  list-style: disc;
}

.achiev {
  font-family: HelveticaNeue, sans-serif;
  padding: 19px 0 32px;
}

.achiev .wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-size: 16px;
  color: #a06839;
}

.achiev .wrapper .achiev_9 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.achiev .wrapper .achiev_9 .icon {
  width: 26px;
  height: 32px;
}

.about_title {
  font-size: 23px;
  color: black;
}

.about_title .about_border {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.about_title2 {
  font-size: 26px;
  color: #a06839;
}

.about_company {
  font-family: HelveticaNeue, sans-serif;
  width: 100%;
  background: url("/img/bg2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 0 138px;
}

.about_company .wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.about_company .wrapper .about_title {
  font-size: 23px;
  color: black;
}

.about_company .wrapper .about_title .about_border {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.about_company .wrapper .about_title2 {
  font-size: 26px;
  color: #a06839;
}

.about_company .wrapper .about_photo {
  display: -webkit-box;
  display: flex;
  padding: 33px 0 44px;
}

.about_company .wrapper .about_photo .photo {
  margin-left: 22px;
}

.about_company .wrapper .about_photo .photo:first-child {
  margin-left: 0;
}

.about_company .wrapper .about_text {
  width: 65.9498207885304659%;
  font-size: 16px;
  text-align: center;
}

.about_company .wrapper .types_works {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 84px;
}

.about_company .wrapper .types_works .types_photo {
  display: -webkit-box;
  display: flex;
  padding-top: 55px;
}

.about_company .wrapper .types_works .types_photo .tps_photo .tps_pht {
  background: #a06839;
  padding: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 26px;
  color: white;
  margin-top: -4px;
}

.about_company .wrapper .types_works .types_photo .tps {
  margin: 0 41px;
}

.price {
  background: url("/img/photo5.jpg") no-repeat;
  background-size: cover;
  padding-bottom: 69px;
  font-family: HelveticaNeue;
}

.price .price_main {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.price .price_main .stock {
  width: 74.5519713261648746%;
  height: 220px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px #000000;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 33px 19px 60px;
  margin-top: -93px;
}

.price .price_main .stock_img {
  width: 50%;
}

.price .price_main .stock_info {
  width: 50%;
  padding-top: 15px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.price .price_main .stock_text {
  margin: 19px 0 37px;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.price .price_main .stock .types_title2 {
  width: 100%;
  display: block;
  margin-bottom: 0;
}

.price .price_main .stock_call {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-family: HelveticaNeue-Thin;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #a06839;
  border-radius: 25px;
  border: solid 1px #000000;
  padding: 4px 17px 3px 18px;
}

.price .price_main .types_title,
.price .price_main .types_title2 {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.price .price_main .types_title {
  color: white;
  font-size: 20px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-top: 61px;
}

.price .price_main .types_title2 {
  margin-bottom: 54px;
}

.price_items {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.price_item {
  width: 47.1326164874551972%;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 15px 18px 32px 21px;
  margin-bottom: 61px;
}

.price_item:nth-child(2n + 1) {
  margin-right: 5.7347670250896057%;
}

.price_item .item {
  width: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.price_item .item_bottom .item_info {
  flex-basis: 100%;
}

.price_item .item_title {
  font-size: 26px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a06839;
  width: 100%;
  margin-bottom: 10px;
}

.price_item .item_title i {
  font-style: normal;
  font-size: 20px;
}

.price_item .item_title_2 {
  font-family: HelveticaNeue-Thin;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.price_item .item_info {
  width: 43%;
  flex-basis: 288px;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.price_item .item_border {
  height: 3px;
  border: solid 1px #000000;
  margin: 12px 0 14px;
}

.price_item .item_row {
  margin-top: 10px;
}

.price_item .item_price {
  font-size: 26px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a06839;
  margin-right: 10px;
}

.price .table {
  width: 80%;
  margin: 0 auto;
}

.price .table_title {
  font-family: HelveticaNeue;
  font-size: 26px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.price .table_title i {
  color: #a06839;
}

.price .table_info {
  width: 100%;
  font-size: 26px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a06839;
  padding: 5px 60px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 3px;
}

.price .table_li {
  width: 100%;
  min-height: 40px;
  font-family: HelveticaNeue-Thin;
  font-size: 20px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  padding: 6px 60px 4px;
  color: #d8d8d8a3;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.price .table_li:nth-child(odd) {
  border: solid 3px #ffffff4a;
  border-left: 0;
  border-right: 0;
}

.price .table_li:last-child {
  border-bottom: 0;
}

.price .table_text {
  font-family: HelveticaNeue-Thin;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #d8d8d8a3;
}

@media screen and (max-width: 1700px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1500px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1335px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1190px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1090px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 949px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 933px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 885px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }

  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 835px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }

  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }

  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }

  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 730px) {
  .wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 655px) {
  .wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 610px) {
  .wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 596px) {
  .wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 536px) {
  .wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 385px) {
  .wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 375px) {
  .wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 366px) {
  .wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 320px) {
  .wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }

  .debug > div {
    padding-left: 5px;
    padding-right: 5px;
  }
}
/*# sourceMappingURL=styles.css.map */
